<%= render 'shared/side_links.html.erb' %>
<div class="container">
  	<div class="row">
	    <div class="col-sm-1"></div>
		<div class="col-sm-8">
		  	<h3 class='blue'>Add Meal Plans</h3>
	 	</div>
	</div>
		<%= render 'form' %>
	  </br>
	</br>
