%div{:class=> "row"}
	%div{:class => "col-10 offset-1 col-md-8 offset-md-3"}
		%h3 Recipes
%div{:class => "row"}
	%div{:class => "col-10 offset-1 col-md-8 offset-md-3"}
		-@recipes.each do |recipe|
			%li= link_to recipe.name, recipe_path(recipe)
		=will_paginate
