<div class="container">
  	<div class="row">
	    <div class="col-10 offset-1 col-md-8"><h4>Add a recipe</h4></div>
	</div>
	<%= render 'form' %>
	  </br>
	</br>
	<div class="row">
		<div class="col-10 offset-1 col-3 offset-md-4">
			<footer><%= link_to 'Back', recipes_path %></footer>
		</div>
	</div>
</div>