<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 chart-dashboard">
            <div class="row chart-dashboard-actions">
                <div class="col-6 offset-3 col-md-3 offset-md-9 dropdown show">
                  <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Chart
                  </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a id="test-1" class="dropdown-item thing" href="#">Test One</a>
                <a id="test-2" class="dropdown-item thing" href="#">Test Two</a>
              </div>
            </div>
                        <div class="row chart-section">
Before testing link.
    </div>
        </div>
    </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$(function () {

 $('.thing').on('click', function(event){
    event.preventDefault();

    // event.stopImmediatePropagation();
        let id = event.target.id;
      alert("This is a test for " + id);
  //  event.preventDefault();
    })



 });

</script>