<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 chart-dashboard">
            <div class="row chart-dashboard-actions">
                <div class="col-6 offset-3 col-md-3 offset-md-9 dropdown show">
                  <button class="btn btn-secondary dropdown-toggle" href="#" id="chartDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Chart
                  </button>

              <div class="dropdown-menu" aria-labelledby="chartDropdownMenuLink">
                <button id="test-1" class="dropdown-item thing" type="button">Test One</button>
                <button id="test-2" class="dropdown-item thing" type="button">Test Two</button>
              </div>
            </div>
                        <div class="row chart-section">
Before testing link. Trying to change html
    </div>
        </div>
    </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$(function () {

 $('.thing').on('touchstart', function(event){
    let id = event.target.id
    getChart(id);
    })

    function getChart(id){
        $('.chart-section').html("from the get chart function, you touched the element " + id);
    }

 });

</script>