<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-2">
     <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Get Meal Recommendation", planner_meals_path %></button>
  </div>
</div>
</br>