<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-2">
     <button type="button" class="btn btn-info navbar-btn btn-xs"><%= link_to "Create New Meal Plan", planner_meal_plans_path %></button>
  </div>
</div>
</br>