<div class="container">
	<div class="row">
	    <div class="col-10 offset-1 col-md-8">
	    	<h3> Meal Charts</h3>
	    </div>
	</div>
	<div class="row">
	    <div class="col-10 offset-1 col-md-8 chart-dashboard">
	    	<div class="row chart-dashboard chart-dashboard-actions">
	    		<div class="col-6 offset-3 col-md-3 offset-md-8 dropdown show">
				  <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Select Chart
				  </a>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <a id="recipes-chart-link" class="dropdown-item" href="#">Recipes</a>
			    <a id="difficulty-chart-link" class="dropdown-item" href="#">Difficulty Level</a>
			    <a id="ingredients-chart-link" class="dropdown-item" href="#">Ingredients</a>
			    <a id="food-groups-chart-link"class="dropdown-item" href="#">Food Groups</a>
			  </div>
			</div>
				    	<div class="row chart-section">
<%= column_chart  [{name: "Active", data: @last_month_active_recipe_data},
  {name: "Inactive", data: @last_month_inactive_recipe_data}], library: {  yAxis: {
        tickAmount: 4,
        allowDecimals: false
    },  plotOptions: {
            series: {

               pointPadding: 0,
                maxPointWidth: 50
            }
        }
}, title: "Frequency of Recipes Used - Last 30 days", xTitle: "Recipes", yTitle: "Number of Meals"
			 %>
	</div>
	    </div>
	</div>
		</div>
	</div>
</div>
<script type="text/javascript">

$(function () {

 $('.dropdown-item').on('click', function(event){
 	event.preventDefault();
 	let id = event.target.id;

 	getChart(id);
 	})
 
 	function getChart(chartLink){
		/* option use render. won't get locals this way
		$(".chart-section").html('<%=render "chart", locals: { chart: @last_month_inactive_recipe_data }  %>');
		*/
		
		if(chartLink == "recipes-chart-link"){
			$(".chart-section").html("here we'd add the recipe chart");
		} else if(chartLink == "difficulty-chart-link"){
			$(".chart-section").html("here we'd add the difficulty chart");
		} else if(chartLink == "ingredients-chart-link"){
			$(".chart-section").html("here we'd add the ingredients chart");
		} else {
			$(".chart-section").html("here we'd add the food groups chart");
		}
	}

 });


</script>