
<div class="row">
  <div class="col-10 offset-1 col-md-4 pantry-container">
   <label id="ingredients-label"><strong>Must Include Ingredients</strong></label>
   <% @food_groups.each do |food_group| %>
    <div class="food-groups-ingredients">
      <div class="food-group-label"> <%= link_to food_group.name, "#" %> <span class="fa fa-caret-down"></span></div> 
          <% @ingredients.where(food_group_id: food_group.id).each do |ingredient| %>
            <div class="field pantry-form-ingredient hidden-ingredient">
              <%= check_box_tag 'ingredient-selection',ingredient.id, false, class: "select-ingredient" %> <%= ingredient.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </br>
      <div class="actions">
         <%= submit_tag("Get Recipes", class: 'btn btn-primary form-button') %>
      </div>
      <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="row">
          <div class="col-4 offset-8 col-sm-3 offset-sm-9 col-md-2 offset-md-10">
            <span class="close">&times;</span>
          </div>
        </div>
        <div class="pantry-meals">
        </div>
      </div>

</div>
  </div>
</div>
<script type="text/javascript">
$(function () {

  $('.form-button').on('click', function(event){
      event.preventDefault();
      $('.modal').attr('style','display: block');
      clearPreviousModalContent();
      let ingredients = getSelectedIngredients();
      checkForMealsWithIngredients(ingredients);
 }); 


  $('span').on('click', function(){
     $('.modal').attr('style','display: none');
  })

  $('.food-group-label').on('click', function(event){
     event.preventDefault()
     $(this).find('span').toggleClass('fa-caret-down').toggleClass('fa-caret-up');
     $(this).closest('.food-groups-ingredients').find('.pantry-form-ingredient').toggleClass('hidden-ingredient');
   });

  });
function getSelectedIngredients(){
     var ingredients = [];
     $('.pantry-form-ingredient').each(function(){
       var isChecked = $(this).find(".select-ingredient").is(':checked');
       var tempHash = {};
       if(isChecked == true){ 
          var ingredientID =  $(this).find(".select-ingredient").val();
          tempHash["ingredientID"] = ingredientID;
          ingredients.push(tempHash)
       }
    }); //end of ingredients loop
    return ingredients;
}
function checkForMealsWithIngredients(ingredients){
  $.ajax({
               url:'/meals/find_pantry_meals',
                type: 'GET',
                dataType: 'script',
                data: {"ingredients": ingredients },
                headers: {
                  'X-Transaction': 'POST Example',
                  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
              success: function(response) {
                updatePantryMealsList(response);
                },
                 error: function (jqXHR, textStatus, errorThrown) {
               //     may want to do flash instead
                   alert("could not process request");
              } 
           }); // end of ajax call
}
  function clearPreviousModalContent(){
    $('.pantry-meals').empty();
  }

  function updatePantryMealsList(response){
    let list = JSON.parse(response);
    if(list.length == 0){
        $('.pantry-meals').append("<p>no recipes match your list of ingredients. Please try again with fewer ingredients</p>");
    } else {
      $('.pantry-meals').append('<h4> Recipes Using Selected Ingredients</h4><ul></ul>');

      list.forEach(function (recipe){
         $('.pantry-meals ul').append('<li>' + recipe.name + '</li>');
      })
  }
}
</script>