$('.pantry-recipes').empty();
 <% if @pantry_recipes.length == 0 %>
 	$('.pantry-recipes').append( "<p>no recipes match your list of ingredients. Please try again with fewer
 	 ingredients</p>")
 <% else %>
    $('.pantry-recipes').append("<h4> Recipes Using Selected Ingredients</h4><ul></ul>")
    $('.pantry-recipes ul').html("<%= j render(partial: 'pantry_recipes', locals: { recipes: @pantry_recipes } ) %>")
 <% end %>

 $('.modal').attr('style','display: block');