<div class="row">
  <div class="col-10 offset-1 col-md-6 offset-md-4">
  	<% if @meal.meal_date > Date.today %>
  		You're eating <%= @meal.recipe.name %> on <%= @meal.meal_date %>.</div>
  	<% else %>
  	   You ate <%= @meal.recipe.name %> on <%= @meal.meal_date %>.</div>
  	 <% end %>
</div>
