<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6">
  	<% if @meal.meal_date > Date.today %>
  		You're eating <%= @meal.recipe.name %> on <%= @meal.meal_date %>.</div>
  	<% else %>
  	   You ate <%= @meal.recipe.name %> on <%= @meal.meal_date %>.</div>
  	 <% end %>
</div>
