.saved {
	font-style: italic;
}

 #navbar-mp {
	font-weight: bold;
	background-color: #fff5e6;
	margin-bottom: 60px;
} 
.nav-item {
	padding-right: 10px;
	font-size: 18px;
}
.nav-link {
	padding: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.food-group-label {
	font-weight: bold;
}

#ingredients-label {
	padding-top: 10px;
	font-size: 16px;
}

.alert-notice {
	background-color: #ccddff;
}

.form-header {
	padding-bottom: 25px;
}

.form-button {
	margin-top: 25px;
	background-color: #9fd9e0;
}
.pagination {
	margin: 1rem 0;
}
.pagination > .previous_page, .pagination > .current,.pagination > a {
	padding-right: 5px;
}

.chart-dashboard {
	margin: 30px;
	background-color: #9fd9e0;
}

.chart-dashboard-actions {
	margin-top: 10px;
}
#recipes-chart, #meal-ingredients-chart,#recipe-ingredients-chart, #meal-difficulty-chart,#recipe-difficulty-chart, #meal-food-groups-chart {
 	padding: 20px 0;
 	margin: 30px 0 35px 80px;
 	background-color: #fff;
 }

 /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#recipes-chart, #meal-ingredients-chart,#recipe-ingredients-chart, #meal-difficulty-chart,#recipe-difficulty-chart, #meal-food-groups-chart {
	margin: 30px 10px 35px 60px;
	}
	/*give more background padding than col-7 allows */
	#chart-dashboard {
		flex: 0 0 67%;
		max-width: 67%
	}
}

 /* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
	#recipes-chart, #meal-ingredients-chart,#recipe-ingredients-chart, #meal-difficulty-chart,#recipe-difficulty-chart, #meal-food-groups-chart {
	margin-bottom: 35px;
	}
}